* {
    margin: 0;
    padding: 0;
}

.tabs {
    max-width: 420px;
    background: #ccc;
}

li {
    list-style: none;
}

header {padding: 20px 0;}

.tabHeader {
    display: flex;
    justify-content: space-around;
    text-align: center;
}
